<nav>
<div class='nav-links'>
<a href="<%=users_url%>">All Users</a>
<a href="<%=posts_url%>">All Posts</a>
<a href="<%=subs_url%>">All Subs</a>
</div>

<% if current_user != nil %>
    <div class='signed-in-links'>
    <span>Logged in as <%= current_user.username %></span>
    <form action="<%= session_url %>" method="DELETE">
    <input type="hidden" name="method" value="DELETE">
    <input type="hidden" name="authenticity-token" value="<%= @form_authenticity_token%>">
    <input type="Submit" value="Log Out">
    </form>
    </div>
<% else %>
    <div class='sign-in-links'>
    <a href="<%=new_session_url%>">Log In</a></div>
    <a href="<%=new_user_url%>">Create User</a></div>
    </div>
<% end %>
</nav>